.field--name-field-menu-item {

    .field-collection-view {
        padding-top: 5px;
        padding-bottom: 5px;
    }

    .field--name-field-menu-item-name {
    }

    .field--name-field-menu-item-notes {
        font-size: 65%;
    }
}

