.field--name-block-restaurant-menu-images-gal {

    margin-left: 1em;
    margin-bottom: 1em;

    .block--views {
        $bgclr: $default_light_grey;
        $bgclr_dark: darken($bgclr, 15%);

        @include rounded-outer-corner-top();

        border: 2px solid $bgclr_dark;
        background-color: $bgclr;

        .block__title {
            border-bottom: 3px solid $bgclr_dark;
            padding: 0.3em 1em;
            margin-bottom: 0;

            color: invert($bgclr);
            font-weight: 600;

            font-size: 110%;
        }

        .view-content {
            background-color: white;
            padding: 1em;

            .views-row {
                display: inline-block;

                img {
                    border: 1px $bgclr_dark solid;
                }
            }
        }

        .view-footer {
            background-color: white;
            text-align: center;
            padding-bottom: 0.5em;
        }
    }

}
