.field--name-field-menu-item {

    .field-collection-view {
        padding-top: 5px;
        padding-bottom: 5px;
    }

    .field--name-field-menu-item-name {
        display: inline-block;
    }

    .field--name-menu-item-attribute-images {
        display: inline-block;
        margin-left: 0.5em;
    }

    .field--name-field-menu-item-notes {
        font-size: 65%;
    }

    .group-divider {
        //$divider_color: darken($default_light_grey, 35%);
        $divider_color: gray;
        color: $divider_color;
        //border-bottom: 1px solid $divider_color;
    }

    .group-divider-left {
        text-align: left;
    }

    .group-divider-center {
        text-align: center;
    }

    .group-divider-right {
        text-align: right;
    }
}

