.field--name-field-menu-section {

    & > .field__items > .field__item > .field-collection-view {
        // only for menu section, no margins
        margin: 0;

        // no bottom border
        border-bottom: 0;

        padding-top: 0;
        padding-bottom: 1em;
    }

    .field-collection-item-field-menu-section {
        $bgclr: $default_red;

        @include rounded-outer-corner-top();

        border: 2px solid darken($bgclr, 15%);
        background-color: $bgclr;

        .field-collection-container {
            background-color: white;
            margin-bottom: 0;
        }

        .field--name-field-menu-section-title {
            border-bottom: 3px solid darken($bgclr, 15%);
            padding: 0.3em 1em;

            color: white;
            font-weight: bold;

            font-size: 110%;
        }

        .field--name-field-menu-section-notes {
            font-size: 0.9em;
            font-weight: bold;

            background-color: white;
            color: black;

            text-align: center;

            padding: 0.3em 1em 0;
        }
    }

}
