.field--name-field-menu-item {

    .field-collection-view {
        padding-top: 5px;
        padding-bottom: 5px;
    }

    .field--name-field-menu-item-name {
        display: inline-block;
    }

    .field--name-menu-item-attribute-images {
        display: inline-block;
        margin-left: 0.5em;
    }

    .field--name-field-menu-item-notes {
        font-size: 65%;
    }
}

