.node--restaurant-menu {

    // style the title
    //   it can be the 'title' or a custom block
    .field--name-title,
    .field--name-block-title-with-self-link {
        $bgclr: $default_red;

        color: $bgclr;

        h2 {
            margin-bottom: 0;
        }

        a:link,
        a:visited {
            text-decoration:none;
            color: $bgclr;
        }
    }

    .field--name-field-menu-notes {
    }

    .field--name-changed-date {
        //text-align: right;

        font-size: 65%;

        .field__label {
            font-weight: normal;
            display: inline-block;
        }

        .field__items {
            display: inline-block;
        }
    }

    .field--name-field-menu-location {
        .field-collection-view {
            margin: 0;
        }
    }

    .group-header {
        & > .field-collection-container {
            border: 0;
        }
    }

    .group-middle {
        & > .field-collection-container {
            border: 0;
        }
    }
}

