.view-restaurant-menu-images-gallery {

    $bgclr: $default_light_grey;
    $bgclr_dark: darken($bgclr, 15%);

    .view-header {
        a {
            $bgclr: $default_red;
            color: $bgclr;
        }
    }

    .attachment {
        .view-restaurant-menu-images-gallery {
            margin-top: 1em;
        }
    }

    .view-content {
        margin-top: 1em;

        .views-row {
            display: inline-block;

            img {
                border: 1px $bgclr_dark solid;
            }
        }
    }

}
