@import "breakpoint";

.views-exposed-form-proximity-search-for-restaurant-menu-page {
    .views-exposed-form {
        width: 35em;
        text-align: center;

        @include center-block;
    }

    .views-exposed-widgets {
        float: none;
        display: inline-block;
        vertical-align: top;
    }

    .description {
        font-size: 0.75em;
        margin-top: 3px;
    }

    #edit-query {
        width: 15em;
    }

    #edit-location-origin {
        width: 10em;
    }

    .views-submit-button {
        padding-right: 0;
    }

    .form-type-geofield-proximity {
        margin: 0;
        .form-item-location-origin {
            margin: 0;
        }
    }

    .views-submit-button {
        #edit-submit-proximity-search-for-restaurant-menu {
            margin-top: 0;
        }
    }
}

@include breakpoint(max-width $tab, true) {
    .views-exposed-form-proximity-search-for-restaurant-menu-page {
        $max_width: 15em;

        .views-exposed-form {
            width: $max_width;
            @include center-block;
        }

        .views-exposed-widget {
            display: block;
            float: none;
        }

        #edit-query {
            width: $max_width;
        }

        #edit-location-origin {
            width: $max_width;
        }

    }
}
