.views-exposed-form-proximity-search-for-restaurant-menu-page {
    .views-exposed-form {
        width: 35em;
        @include center-block;
    }

    .description {
        font-size: 0.75em;
        margin-top: 3px;
    }

    #edit-query {
        width: 15em;
    }

    #edit-location-origin {
        width: 10em;
    }

    .views-submit-button {
        #edit-submit-proximity-search-for-restaurant-menu {
            margin-top: 0;
        }
    }
}
