@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/henry\/work\/splatnom-v2-drupal\/www\/sites\/all\/themes\/splatnom_theme\/sass\/layouts\/restaurant-menu\/home\.layout\.scss}line{font-family:\000037}}
.l-main {
  text-align: center; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/henry\/work\/splatnom-v2-drupal\/www\/sites\/all\/themes\/splatnom_theme\/sass\/layouts\/restaurant-menu\/home\.layout\.scss}line{font-family:\0000311}}
.frontpage-logo {
  margin-top: 5em;
  margin-bottom: 4em; }
