@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/henry\/work\/splatnom-v2-drupal\/www\/sites\/all\/themes\/splatnom_theme\/sass\/abstractions\/_common\.scss}line{font-family:\000031}}
.splatnom-page, .header-content, .l-main, .l-footer {
  margin: 0 auto;
  width: 44em;
  width: 70em; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/henry\/work\/splatnom-v2-drupal\/www\/sites\/all\/themes\/splatnom_theme\/sass\/base\/_media\.scss}line{font-family:\000031}}
img, media {
  max-width: 100%; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/henry\/work\/splatnom-v2-drupal\/www\/sites\/all\/themes\/splatnom_theme\/sass\/base\/_splatnom-defaults\.scss}line{font-family:\000034}}
a {
  text-decoration: none;
  color: black; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/henry\/work\/splatnom-v2-drupal\/www\/sites\/all\/themes\/splatnom_theme\/sass\/base\/_splatnom-defaults\.scss}line{font-family:\000039}}
.l-header {
  width: 100%;
  float: right;
  margin-left: 0;
  margin-right: 0;
  clear: none;
  background: #5f5b5a;
  margin-bottom: 1em;
  padding: 0.5em 0; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/henry\/work\/splatnom-v2-drupal\/www\/sites\/all\/themes\/splatnom_theme\/sass\/base\/_splatnom-defaults\.scss}line{font-family:\0000316}}
  .l-header a {
    color: white; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/henry\/work\/splatnom-v2-drupal\/www\/sites\/all\/themes\/splatnom_theme\/sass\/base\/_splatnom-defaults\.scss}line{font-family:\0000325}}
.header-left {
  width: 48.93617%;
  float: left;
  margin-right: -100%;
  margin-left: 0%;
  clear: none; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/henry\/work\/splatnom-v2-drupal\/www\/sites\/all\/themes\/splatnom_theme\/sass\/base\/_splatnom-defaults\.scss}line{font-family:\0000329}}
.header-right {
  width: 48.93617%;
  float: right;
  margin-left: 0;
  margin-right: 0;
  clear: none;
  font-size: 0.8em;
  text-align: right; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/henry\/work\/splatnom-v2-drupal\/www\/sites\/all\/themes\/splatnom_theme\/sass\/base\/_splatnom-defaults\.scss}line{font-family:\0000339}}
.l-main h2 {
  margin-top: 0; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/henry\/work\/splatnom-v2-drupal\/www\/sites\/all\/themes\/splatnom_theme\/splatnom-icons\/\*\*\%5C\/\*\.png}line{font-family:\0000398}}
.splatnom-icons-sprite, .header-logo, .icon.is-spicy, .icon.is-veggie, .icon.is-hide {
  background: url('../images/generated/splatnom-icons-seae2322ab7.png') no-repeat; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/henry\/work\/splatnom-v2-drupal\/www\/sites\/all\/themes\/splatnom_theme\/sass\/base\/_splatnom-icons\.scss}line{font-family:\000034}}
.header-nologo {
  height: 52px; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/henry\/work\/splatnom-v2-drupal\/www\/sites\/all\/themes\/splatnom_theme\/sass\/base\/_splatnom-icons\.scss}line{font-family:\000038}}
.header-logo {
  display: inline-block;
  height: 48px;
  width: 139px;
  background-position: 0 0; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/henry\/work\/splatnom-v2-drupal\/www\/sites\/all\/themes\/splatnom_theme\/sass\/base\/_splatnom-icons\.scss}line{font-family:\0000313}}
.icon.is-spicy {
  display: inline-block;
  height: 16px;
  width: 16px;
  background-position: 0 -96px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/henry\/work\/splatnom-v2-drupal\/www\/sites\/all\/themes\/splatnom_theme\/sass\/base\/_splatnom-icons\.scss}line{font-family:\0000314}}
.icon.is-veggie {
  display: inline-block;
  height: 16px;
  width: 16px;
  background-position: 0 -64px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/henry\/work\/splatnom-v2-drupal\/www\/sites\/all\/themes\/splatnom_theme\/sass\/base\/_splatnom-icons\.scss}line{font-family:\0000315}}
.icon.is-hide {
  display: inline-block;
  height: 16px;
  width: 16px;
  background-position: 0 -48px; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/henry\/work\/splatnom-v2-drupal\/www\/sites\/all\/themes\/splatnom_theme\/splatnom-logo\/\*\*\%5C\/\*\.png}line{font-family:\0000350}}
.splatnom-logo-sprite, .frontpage-logo {
  background: url('../images/generated/splatnom-logo-s472d680abf.png') no-repeat; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/henry\/work\/splatnom-v2-drupal\/www\/sites\/all\/themes\/splatnom_theme\/sass\/base\/_splatnom-logo\.scss}line{font-family:\000033}}
.frontpage-logo {
  display: inline-block;
  height: 152px;
  width: 415px;
  background-position: 0 0;
  display: inline-block;
  height: 76px;
  width: 207px;
  background-position: 0 -152px;
  display: inline-block;
  height: 152px;
  width: 415px;
  background-position: 0 0; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/henry\/work\/splatnom-v2-drupal\/www\/sites\/all\/themes\/splatnom_theme\/sass\/components\/menu\/_field--name-block-restaurant-menu-images-gal\.scss}line{font-family:\000031}}
.field--name-block-restaurant-menu-images-gal {
  margin-left: 1em;
  margin-bottom: 1em; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/henry\/work\/splatnom-v2-drupal\/www\/sites\/all\/themes\/splatnom_theme\/sass\/components\/menu\/_field--name-block-restaurant-menu-images-gal\.scss}line{font-family:\000036}}
  .field--name-block-restaurant-menu-images-gal .block--views {
    -moz-border-radius-topleft: 8px;
    -moz-border-radius-topright: 8px;
    -webkit-border-top-left-radius: 8px;
    -webkit-border-top-right-radius: 8px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    border: 2px solid #b4b0ae;
    background-color: #d9d7d6; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/henry\/work\/splatnom-v2-drupal\/www\/sites\/all\/themes\/splatnom_theme\/sass\/components\/menu\/_field--name-block-restaurant-menu-images-gal\.scss}line{font-family:\0000315}}
    .field--name-block-restaurant-menu-images-gal .block--views .block__title {
      border-bottom: 3px solid #b4b0ae;
      padding: 0.3em 1em;
      margin-bottom: 0;
      color: #262829;
      font-weight: 600;
      font-size: 110%; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/henry\/work\/splatnom-v2-drupal\/www\/sites\/all\/themes\/splatnom_theme\/sass\/components\/menu\/_field--name-block-restaurant-menu-images-gal\.scss}line{font-family:\0000326}}
    .field--name-block-restaurant-menu-images-gal .block--views .view-content {
      background-color: white;
      padding: 1em; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/henry\/work\/splatnom-v2-drupal\/www\/sites\/all\/themes\/splatnom_theme\/sass\/components\/menu\/_field--name-block-restaurant-menu-images-gal\.scss}line{font-family:\0000330}}
      .field--name-block-restaurant-menu-images-gal .block--views .view-content .views-row {
        display: inline-block; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/henry\/work\/splatnom-v2-drupal\/www\/sites\/all\/themes\/splatnom_theme\/sass\/components\/menu\/_field--name-block-restaurant-menu-images-gal\.scss}line{font-family:\0000333}}
        .field--name-block-restaurant-menu-images-gal .block--views .view-content .views-row img {
          border: 1px #b4b0ae solid; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/henry\/work\/splatnom-v2-drupal\/www\/sites\/all\/themes\/splatnom_theme\/sass\/components\/menu\/_field--name-block-restaurant-menu-images-gal\.scss}line{font-family:\0000339}}
    .field--name-block-restaurant-menu-images-gal .block--views .view-footer {
      background-color: white;
      text-align: center;
      padding-bottom: 0.5em; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/henry\/work\/splatnom-v2-drupal\/www\/sites\/all\/themes\/splatnom_theme\/sass\/components\/menu\/_field--name-block-restaurant-menu-navigation\.scss}line{font-family:\000031}}
.field--name-block-restaurant-menu-navigation {
  margin-left: 1em;
  margin-bottom: 1em; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/henry\/work\/splatnom-v2-drupal\/www\/sites\/all\/themes\/splatnom_theme\/sass\/components\/menu\/_field--name-block-restaurant-menu-navigation\.scss}line{font-family:\000036}}
  .field--name-block-restaurant-menu-navigation .block--views {
    -moz-border-radius-topleft: 8px;
    -moz-border-radius-topright: 8px;
    -webkit-border-top-left-radius: 8px;
    -webkit-border-top-right-radius: 8px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    border: 2px solid #b4b0ae;
    background-color: #d9d7d6; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/henry\/work\/splatnom-v2-drupal\/www\/sites\/all\/themes\/splatnom_theme\/sass\/components\/menu\/_field--name-block-restaurant-menu-navigation\.scss}line{font-family:\0000314}}
    .field--name-block-restaurant-menu-navigation .block--views .block__title {
      border-bottom: 3px solid #b4b0ae;
      padding: 0.3em 1em;
      margin-bottom: 0;
      color: #262829;
      font-weight: 600;
      font-size: 110%; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/henry\/work\/splatnom-v2-drupal\/www\/sites\/all\/themes\/splatnom_theme\/sass\/components\/menu\/_field--name-block-restaurant-menu-navigation\.scss}line{font-family:\0000325}}
    .field--name-block-restaurant-menu-navigation .block--views .view-content {
      background-color: white;
      padding-left: 1em; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/henry\/work\/splatnom-v2-drupal\/www\/sites\/all\/themes\/splatnom_theme\/sass\/components\/menu\/_field--name-block-restaurant-menu-navigation\.scss}line{font-family:\0000329}}
      .field--name-block-restaurant-menu-navigation .block--views .view-content .views-row {
        padding: 0.2em; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/henry\/work\/splatnom-v2-drupal\/www\/sites\/all\/themes\/splatnom_theme\/sass\/components\/menu\/_field--name-field-menu-item\.scss}line{font-family:\000033}}
.field--name-field-menu-item .field-collection-view {
  padding-top: 5px;
  padding-bottom: 5px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/henry\/work\/splatnom-v2-drupal\/www\/sites\/all\/themes\/splatnom_theme\/sass\/components\/menu\/_field--name-field-menu-item\.scss}line{font-family:\0000311}}
.field--name-field-menu-item .field--name-field-menu-item-notes {
  font-size: 65%; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/henry\/work\/splatnom-v2-drupal\/www\/sites\/all\/themes\/splatnom_theme\/sass\/components\/menu\/_field--name-field-menu-section\.scss}line{font-family:\000033}}
.field--name-field-menu-section > .field__items > .field__item > .field-collection-view {
  margin: 0;
  border-bottom: 0;
  padding-top: 0;
  padding-bottom: 1em; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/henry\/work\/splatnom-v2-drupal\/www\/sites\/all\/themes\/splatnom_theme\/sass\/components\/menu\/_field--name-field-menu-section\.scss}line{font-family:\0000314}}
.field--name-field-menu-section .field-collection-item-field-menu-section {
  -moz-border-radius-topleft: 8px;
  -moz-border-radius-topright: 8px;
  -webkit-border-top-left-radius: 8px;
  -webkit-border-top-right-radius: 8px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border: 2px solid #751417;
  background-color: #b61f24; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/henry\/work\/splatnom-v2-drupal\/www\/sites\/all\/themes\/splatnom_theme\/sass\/components\/menu\/_field--name-field-menu-section\.scss}line{font-family:\0000322}}
  .field--name-field-menu-section .field-collection-item-field-menu-section .field-collection-container {
    background-color: white;
    margin-bottom: 0; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/henry\/work\/splatnom-v2-drupal\/www\/sites\/all\/themes\/splatnom_theme\/sass\/components\/menu\/_field--name-field-menu-section\.scss}line{font-family:\0000327}}
  .field--name-field-menu-section .field-collection-item-field-menu-section .field--name-field-menu-section-title {
    border-bottom: 3px solid #751417;
    padding: 0.3em 1em;
    color: white;
    font-weight: bold;
    font-size: 110%; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/henry\/work\/splatnom-v2-drupal\/www\/sites\/all\/themes\/splatnom_theme\/sass\/components\/menu\/_field--name-field-menu-section\.scss}line{font-family:\0000337}}
  .field--name-field-menu-section .field-collection-item-field-menu-section .field--name-field-menu-section-notes {
    font-size: 0.9em;
    font-weight: bold;
    background-color: white;
    color: black;
    text-align: center;
    padding: 0.3em 1em 0; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/henry\/work\/splatnom-v2-drupal\/www\/sites\/all\/themes\/splatnom_theme\/sass\/components\/menu\/_node--restaurant-menu\.scss}line{font-family:\000036}}
.node--restaurant-menu .field--name-title,
.node--restaurant-menu .field--name-block-title-with-self-link {
  color: #b61f24; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/henry\/work\/splatnom-v2-drupal\/www\/sites\/all\/themes\/splatnom_theme\/sass\/components\/menu\/_node--restaurant-menu\.scss}line{font-family:\0000311}}
  .node--restaurant-menu .field--name-title h2,
  .node--restaurant-menu .field--name-block-title-with-self-link h2 {
    margin-bottom: 0; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/henry\/work\/splatnom-v2-drupal\/www\/sites\/all\/themes\/splatnom_theme\/sass\/components\/menu\/_node--restaurant-menu\.scss}line{font-family:\0000315}}
  .node--restaurant-menu .field--name-title a,
  .node--restaurant-menu .field--name-block-title-with-self-link a {
    color: #b61f24; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/henry\/work\/splatnom-v2-drupal\/www\/sites\/all\/themes\/splatnom_theme\/sass\/components\/menu\/_node--restaurant-menu\.scss}line{font-family:\0000323}}
.node--restaurant-menu .field--name-changed-date {
  font-size: 65%; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/henry\/work\/splatnom-v2-drupal\/www\/sites\/all\/themes\/splatnom_theme\/sass\/components\/menu\/_node--restaurant-menu\.scss}line{font-family:\0000328}}
  .node--restaurant-menu .field--name-changed-date .field__label {
    font-weight: normal;
    display: inline-block; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/henry\/work\/splatnom-v2-drupal\/www\/sites\/all\/themes\/splatnom_theme\/sass\/components\/menu\/_node--restaurant-menu\.scss}line{font-family:\0000333}}
  .node--restaurant-menu .field--name-changed-date .field__items {
    display: inline-block; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/henry\/work\/splatnom-v2-drupal\/www\/sites\/all\/themes\/splatnom_theme\/sass\/components\/menu\/_node--restaurant-menu\.scss}line{font-family:\0000339}}
.node--restaurant-menu .field--name-field-menu-location .field-collection-view {
  margin: 0; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/henry\/work\/splatnom-v2-drupal\/www\/sites\/all\/themes\/splatnom_theme\/sass\/components\/menu\/_node--restaurant-menu\.scss}line{font-family:\0000345}}
.node--restaurant-menu .group-header > .field-collection-container {
  border: 0; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/henry\/work\/splatnom-v2-drupal\/www\/sites\/all\/themes\/splatnom_theme\/sass\/components\/menu\/_node--restaurant-menu\.scss}line{font-family:\0000351}}
.node--restaurant-menu .group-middle > .field-collection-container {
  border: 0; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/henry\/work\/splatnom-v2-drupal\/www\/sites\/all\/themes\/splatnom_theme\/sass\/components\/menu\/_view-restaurant-menu-images-gallery\.scss}line{font-family:\000037}}
.view-restaurant-menu-images-gallery .view-header a {
  color: #b61f24; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/henry\/work\/splatnom-v2-drupal\/www\/sites\/all\/themes\/splatnom_theme\/sass\/components\/menu\/_view-restaurant-menu-images-gallery\.scss}line{font-family:\0000314}}
.view-restaurant-menu-images-gallery .attachment .view-restaurant-menu-images-gallery {
  margin-top: 1em; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/henry\/work\/splatnom-v2-drupal\/www\/sites\/all\/themes\/splatnom_theme\/sass\/components\/menu\/_view-restaurant-menu-images-gallery\.scss}line{font-family:\0000319}}
.view-restaurant-menu-images-gallery .view-content {
  margin-top: 1em; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/henry\/work\/splatnom-v2-drupal\/www\/sites\/all\/themes\/splatnom_theme\/sass\/components\/menu\/_view-restaurant-menu-images-gallery\.scss}line{font-family:\0000322}}
  .view-restaurant-menu-images-gallery .view-content .views-row {
    display: inline-block; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/henry\/work\/splatnom-v2-drupal\/www\/sites\/all\/themes\/splatnom_theme\/sass\/components\/menu\/_view-restaurant-menu-images-gallery\.scss}line{font-family:\0000325}}
    .view-restaurant-menu-images-gallery .view-content .views-row img {
      border: 1px #b4b0ae solid; }
