.splatnom-page, .header-content, .l-main, .l-footer {
  margin: 0 auto;
  width: 44em;
  width: 70em;
}

img, media {
  max-width: 100%;
}

a {
  text-decoration: none;
  color: black;
}

.l-header {
  width: 100%;
  float: right;
  margin-left: 0;
  margin-right: 0;
  clear: none;
  background: #5f5b5a;
  margin-bottom: 1em;
  padding: 0.5em 0;
}
.l-header a {
  color: white;
}

.header-left {
  width: 48.93617%;
  float: left;
  margin-right: -100%;
  margin-left: 0%;
  clear: none;
}

.header-right {
  width: 48.93617%;
  float: right;
  margin-left: 0;
  margin-right: 0;
  clear: none;
  font-size: 0.8em;
  text-align: right;
}

.l-main h2 {
  margin-top: 0;
}

.splatnom-icons-sprite, .header-logo, .icon.is-spicy, .icon.is-veggie, .icon.is-hide {
  background: url('../images/generated/splatnom-icons-seae2322ab7.png') no-repeat;
}

.header-nologo {
  height: 52px;
}

.header-logo {
  display: inline-block;
  height: 48px;
  width: 139px;
  background-position: 0 0;
}

.icon.is-spicy {
  display: inline-block;
  height: 16px;
  width: 16px;
  background-position: 0 -96px;
}
.icon.is-veggie {
  display: inline-block;
  height: 16px;
  width: 16px;
  background-position: 0 -64px;
}
.icon.is-hide {
  display: inline-block;
  height: 16px;
  width: 16px;
  background-position: 0 -48px;
}

.splatnom-logo-sprite {
  background: url('../images/generated/splatnom-logo-s472d680abf.png') no-repeat;
}

.frontpage-logo {
  display: inline-block;
  background: url('../images/generated/splatnom-logo-s472d680abf.png') 0 -152px no-repeat;
  height: 76px;
  width: 207px;
  display: inline-block;
  background: url('../images/generated/splatnom-logo-s472d680abf.png') 0 0 no-repeat;
  height: 152px;
  width: 415px;
}

.field--name-block-restaurant-menu-images-gal {
  margin-left: 1em;
  margin-bottom: 1em;
}
.field--name-block-restaurant-menu-images-gal .block--views {
  -moz-border-radius-topleft: 8px;
  -moz-border-radius-topright: 8px;
  -webkit-border-top-left-radius: 8px;
  -webkit-border-top-right-radius: 8px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border: 2px solid #b4b0ae;
  background-color: #d9d7d6;
}
.field--name-block-restaurant-menu-images-gal .block--views .block__title {
  border-bottom: 3px solid #b4b0ae;
  padding: 0.3em 1em;
  margin-bottom: 0;
  color: #262829;
  font-weight: 600;
  font-size: 110%;
}
.field--name-block-restaurant-menu-images-gal .block--views .view-content {
  background-color: white;
  padding: 1em;
}
.field--name-block-restaurant-menu-images-gal .block--views .view-content .views-row {
  display: inline-block;
}
.field--name-block-restaurant-menu-images-gal .block--views .view-content .views-row img {
  border: 1px #b4b0ae solid;
}
.field--name-block-restaurant-menu-images-gal .block--views .view-footer {
  background-color: white;
  text-align: center;
  padding-bottom: 0.5em;
}

.field--name-block-restaurant-menu-navigation {
  margin-left: 1em;
  margin-bottom: 1em;
}
.field--name-block-restaurant-menu-navigation .block--views {
  -moz-border-radius-topleft: 8px;
  -moz-border-radius-topright: 8px;
  -webkit-border-top-left-radius: 8px;
  -webkit-border-top-right-radius: 8px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border: 2px solid #b4b0ae;
  background-color: #d9d7d6;
}
.field--name-block-restaurant-menu-navigation .block--views .block__title {
  border-bottom: 3px solid #b4b0ae;
  padding: 0.3em 1em;
  margin-bottom: 0;
  color: #262829;
  font-weight: 600;
  font-size: 110%;
}
.field--name-block-restaurant-menu-navigation .block--views .view-content {
  background-color: white;
  padding-left: 1em;
}
.field--name-block-restaurant-menu-navigation .block--views .view-content .views-row {
  padding: 0.2em;
}

.field--name-field-menu-item .field-collection-view {
  padding-top: 5px;
  padding-bottom: 5px;
}
.field--name-field-menu-item .field--name-field-menu-item-name {
  display: inline-block;
}
.field--name-field-menu-item .field--name-menu-item-attribute-images {
  display: inline-block;
  margin-left: 0.5em;
}
.field--name-field-menu-item .field--name-field-menu-item-notes {
  font-size: 65%;
}
.field--name-field-menu-item .group-divider {
  color: gray;
}
.field--name-field-menu-item .group-divider-left {
  text-align: left;
}
.field--name-field-menu-item .group-divider-center {
  text-align: center;
}
.field--name-field-menu-item .group-divider-right {
  text-align: right;
}

.field--name-field-menu-section > .field__items > .field__item > .field-collection-view {
  margin: 0;
  border-bottom: 0;
  padding-top: 0;
  padding-bottom: 1em;
}
.field--name-field-menu-section .field-collection-item-field-menu-section {
  -moz-border-radius-topleft: 8px;
  -moz-border-radius-topright: 8px;
  -webkit-border-top-left-radius: 8px;
  -webkit-border-top-right-radius: 8px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border: 2px solid #751417;
  background-color: #b61f24;
}
.field--name-field-menu-section .field-collection-item-field-menu-section .field-collection-container {
  background-color: white;
  margin-bottom: 0;
}
.field--name-field-menu-section .field-collection-item-field-menu-section .field--name-field-menu-section-title {
  border-bottom: 3px solid #751417;
  padding: 0.3em 1em;
  color: white;
  font-weight: bold;
  font-size: 110%;
}
.field--name-field-menu-section .field-collection-item-field-menu-section .field--name-field-menu-section-notes {
  font-size: 0.9em;
  font-weight: bold;
  background-color: white;
  color: black;
  text-align: center;
  padding: 0.3em 1em 0;
}

.node--restaurant-menu .field--name-title,
.node--restaurant-menu .field--name-block-title-with-self-link {
  color: #b61f24;
}
.node--restaurant-menu .field--name-title h2,
.node--restaurant-menu .field--name-block-title-with-self-link h2 {
  margin-bottom: 0;
}
.node--restaurant-menu .field--name-title a,
.node--restaurant-menu .field--name-block-title-with-self-link a {
  color: #b61f24;
}
.node--restaurant-menu .field--name-changed-date {
  font-size: 65%;
}
.node--restaurant-menu .field--name-changed-date .field__label {
  font-weight: normal;
  display: inline-block;
}
.node--restaurant-menu .field--name-changed-date .field__items {
  display: inline-block;
}
.node--restaurant-menu .field--name-field-menu-location .field-collection-view {
  margin: 0;
}
.node--restaurant-menu .group-header > .field-collection-container {
  border: 0;
}
.node--restaurant-menu .group-middle > .field-collection-container {
  border: 0;
}

.view-restaurant-menu-images-gallery .view-header {
  margin-bottom: 1em;
}
.view-restaurant-menu-images-gallery .view-header a {
  color: #b61f24;
}
.view-restaurant-menu-images-gallery .attachment {
  margin-bottom: 1em;
}
.view-restaurant-menu-images-gallery .view-content .views-row {
  display: inline-block;
}
.view-restaurant-menu-images-gallery .view-content .views-row img {
  border: 1px #b4b0ae solid;
}

.views-exposed-form-proximity-search-for-restaurant-menu-page .views-exposed-form {
  width: 35em;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.views-exposed-form-proximity-search-for-restaurant-menu-page .description {
  font-size: 0.75em;
  margin-top: 3px;
}
.views-exposed-form-proximity-search-for-restaurant-menu-page #edit-query {
  width: 15em;
}
.views-exposed-form-proximity-search-for-restaurant-menu-page #edit-location-origin {
  width: 10em;
}
.views-exposed-form-proximity-search-for-restaurant-menu-page .views-submit-button #edit-submit-proximity-search-for-restaurant-menu {
  margin-top: 0;
}

.views-exposed-form-proximity-search-for-restaurant-menu-page {
  text-align: center;
}
.views-exposed-form-proximity-search-for-restaurant-menu-page .views-exposed-form {
  width: 15em;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.views-exposed-form-proximity-search-for-restaurant-menu-page .views-exposed-widget {
  display: block;
  float: none;
}
.views-exposed-form-proximity-search-for-restaurant-menu-page #edit-query {
  width: 15em;
}
.views-exposed-form-proximity-search-for-restaurant-menu-page #edit-location-origin {
  width: 15em;
}
