@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/henry\/work\/splatnom-v2-drupal\/www\/sites\/all\/themes\/splatnom_theme\/sass\/abstractions\/_common\.scss}line{font-family:\000031}}
.splatnom-page, .header-content, .l-main, .l-footer {
  margin: 0 auto;
  width: 44em;
  width: 70em; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/henry\/work\/splatnom-v2-drupal\/www\/sites\/all\/themes\/splatnom_theme\/sass\/base\/_media\.scss}line{font-family:\000031}}
img, media {
  max-width: 100%; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/henry\/work\/splatnom-v2-drupal\/www\/sites\/all\/themes\/splatnom_theme\/sass\/base\/_splatnom-defaults\.scss}line{font-family:\000033}}
.l-header {
  width: 100%;
  float: right;
  margin-left: 0;
  margin-right: 0;
  clear: none;
  background: #5f5b5a;
  margin-bottom: 1em;
  padding: 0.5em 0; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/henry\/work\/splatnom-v2-drupal\/www\/sites\/all\/themes\/splatnom_theme\/sass\/base\/_splatnom-defaults\.scss}line{font-family:\0000311}}
  .l-header a:link,
  .l-header a:visited {
    text-decoration: none;
    color: white; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/henry\/work\/splatnom-v2-drupal\/www\/sites\/all\/themes\/splatnom_theme\/sass\/base\/_splatnom-defaults\.scss}line{font-family:\0000321}}
.header-left {
  width: 48.93617%;
  float: left;
  margin-right: -100%;
  margin-left: 0%;
  clear: none; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/henry\/work\/splatnom-v2-drupal\/www\/sites\/all\/themes\/splatnom_theme\/sass\/base\/_splatnom-defaults\.scss}line{font-family:\0000325}}
.header-right {
  width: 48.93617%;
  float: right;
  margin-left: 0;
  margin-right: 0;
  clear: none;
  font-size: 0.8em;
  text-align: right; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/henry\/work\/splatnom-v2-drupal\/www\/sites\/all\/themes\/splatnom_theme\/splatnom-icons\/\*\*\%5C\/\*\.png}line{font-family:\0000398}}
.splatnom-icons-sprite, .header-logo, .icon.is-spicy, .icon.is-veggie, .icon.is-hide {
  background: url('../images/generated/splatnom-icons-seae2322ab7.png') no-repeat; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/henry\/work\/splatnom-v2-drupal\/www\/sites\/all\/themes\/splatnom_theme\/sass\/base\/_splatnom-icons\.scss}line{font-family:\000034}}
.header-nologo {
  height: 52px; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/henry\/work\/splatnom-v2-drupal\/www\/sites\/all\/themes\/splatnom_theme\/sass\/base\/_splatnom-icons\.scss}line{font-family:\000038}}
.header-logo {
  display: inline-block;
  height: 48px;
  width: 139px;
  background-position: 0 0; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/henry\/work\/splatnom-v2-drupal\/www\/sites\/all\/themes\/splatnom_theme\/sass\/base\/_splatnom-icons\.scss}line{font-family:\0000313}}
.icon.is-spicy {
  display: inline-block;
  height: 16px;
  width: 16px;
  background-position: 0 -96px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/henry\/work\/splatnom-v2-drupal\/www\/sites\/all\/themes\/splatnom_theme\/sass\/base\/_splatnom-icons\.scss}line{font-family:\0000314}}
.icon.is-veggie {
  display: inline-block;
  height: 16px;
  width: 16px;
  background-position: 0 -64px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/henry\/work\/splatnom-v2-drupal\/www\/sites\/all\/themes\/splatnom_theme\/sass\/base\/_splatnom-icons\.scss}line{font-family:\0000315}}
.icon.is-hide {
  display: inline-block;
  height: 16px;
  width: 16px;
  background-position: 0 -48px; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/henry\/work\/splatnom-v2-drupal\/www\/sites\/all\/themes\/splatnom_theme\/splatnom-logo\/\*\*\%5C\/\*\.png}line{font-family:\0000350}}
.splatnom-logo-sprite, .frontpage-logo {
  background: url('../images/generated/splatnom-logo-s472d680abf.png') no-repeat; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/henry\/work\/splatnom-v2-drupal\/www\/sites\/all\/themes\/splatnom_theme\/sass\/base\/_splatnom-logo\.scss}line{font-family:\000033}}
.frontpage-logo {
  display: inline-block;
  height: 152px;
  width: 415px;
  background-position: 0 0;
  display: inline-block;
  height: 76px;
  width: 207px;
  background-position: 0 -152px;
  display: inline-block;
  height: 152px;
  width: 415px;
  background-position: 0 0; }
