@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/henry\/work\/splatnom-v2-drupal\/www\/sites\/all\/themes\/splatnom_theme\/sass\/layouts\/user-new\/splatnom-user-new\.layout\.scss}line{font-family:\000033}}
.header-right {
  font-size: 0.8em;
  text-align: right; }
