@import "breakpoint";
@import "splatnom-icons/**/*.png";

.header-nologo {
    height: splatnom-icons-sprite-height(logo-mini) + 4;
}

.header-logo {
    @include splatnom-icons-sprite-image(logo-mini);
}

.icon {
    &.is-spicy      { @include splatnom-icons-sprite-image(spicy); }
    &.is-veggie     { @include splatnom-icons-sprite-image(veggie); }
    &.is-hide       { @include splatnom-icons-sprite-image(hide); }
    //&.is-header     { @include splatnom-icons-sprite-image(group-item-header); }
}
