@import "splatnom-logo/**/*.png";

.frontpage-logo {

    // default logo
    @include splatnom-logo-sprite-image(logo);

    // everything smaller than a tab
    @include breakpoint(max-width $tab, true) {
        @include splatnom-logo-sprite-image(logo-mini);
    }

    // everything bigger than a tab
    @include breakpoint(min-width $tab, true) {
        @include splatnom-logo-sprite-image(logo);
    }
}

