@import "breakpoint";

.l-header {
    @include grid-span($grids, 1);
    background: $default_grey;

    margin-bottom: 1em;
    padding: 0.5em 0;

    a:link,
    a:visited {
        text-decoration:none;
        color: white;
    }
}

.header-content {
    @extend .splatnom-page;
}

.header-left {
    @include grid-span($grids/2, 1);
}

.header-right {
    @include grid-span($grids/2, 7);

    font-size: 0.8em;
    text-align: right;
}

.l-main {
    @extend .splatnom-page;

    h2 {
        // fix all h2 to not have margin-top
        margin-top: 0;
    }
}

.l-footer {
    @extend .splatnom-page;
}
