@import "compass";
@import "breakpoint";
@import "singularitygs";

@import "../../variables/**/*";

.l-main {
    text-align: center;
}

.frontpage-logo {
    margin-top: 5em;
    margin-bottom: 4em;
}
